.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logout-icon {
  font-size: 22px;
  cursor: pointer;
  color: #dc2626;
  transition: transform 0.2s, color 0.2s;
}

.logout-icon:hover {
  color: #b91c1c;
  transform: scale(1.1);
}
